<template>
  <v-container>
    <div class="detail-book">
      <h1>Book Detail - {{ book.title }}</h1>
      <img :src="book.cover" :alt="book.title" class="detail-book-img">
      <hr>
      <div class="detail-book-description">
        <p>{{ book.description }}</p>
        <br>
        <p>{{ formatDate(book.publicationDate) }}</p>
      </div>
    </div>
  </v-container>
</template>

<script>
import { useRoute } from 'vue-router';

export default {
  data() {
    return {
      book: {},
    };
  },
  methods: {
    async getDetailData() {
      const route = useRoute()
      const bookId = route.params.id
      const res = await fetch(`https://my-json-server.typicode.com/aditgege/mock/books/${bookId}`)
      const finalRes = await res.json()
      this.book = finalRes
    },
    formatDate(date) {
      const dateToString = new Date(date)
      const options = { year: 'numeric', month: 'long', day: 'numeric' };
      return dateToString.toLocaleDateString(undefined, options); 
    },
  },
  mounted() {
    this.getDetailData()
  }
};
</script>

<style>
.detail-book {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.detail-book-img {
  width: 200px;
  height: 250;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.detail-book-description {
  margin-top: 20px;
}

.detail-book-description div {
  margin-bottom: 10px;
}



</style>