<template>
    <input type="checkbox" v-model="isChecked">
  </template>
  
  <script>
  import { ref } from 'vue';
  
  export default {
    setup() {
      const isChecked = ref(false);
  
      return {
        isChecked,
      };
    },
    watch: {
        isChecked(newValue, oldValue) {
            console.log('old value :', oldValue)
            console.log('new value : ', newValue)
        }
    }
  }
  </script>