<template>
    <div>
        <h1>Halaman Input Phone</h1>
        <PhoneInput />
    </div>
</template>

<script>
import PhoneInput from '@/components/PhoneInput.vue';

export default {
    components: {
        PhoneInput
    }
};
</script>

<style>

</style>