<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-checkbox v-model="isRequired" label="Wajib diisi"></v-checkbox>
            </v-col>
            <v-col cols="12">
                <v-text-field v-model="phoneNumber" 
                    label="Nomor HP" 
                    @blur="validatePhoneNumber"
                    :error-messages="invalidPhoneNumber=='wrong' ? ['Nomor HP tidak valid'] : []" 
                    :counter="13"
                    required></v-text-field>
            </v-col>
            <v-col cols="12">
                <span v-if="invalidPhoneNumber == 'valid'" style="color: green">Nomor HP valid</span>
                <span v-else-if="invalidPhoneNumber == 'wrong'" style="color: red">Nomor HP tidak valid</span>
            </v-col>
            <v-col cols="12">
                <span v-if="isRequired && phoneNumber==''" style="color: darkgoldenrod">Nomer HP wajib diisi</span>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    data() {
        return {
            phoneNumber: '',
            invalidPhoneNumber: '',
            countryCode: '',
            isRequired: false
        };
    },
    methods: {
        validatePhoneNumber() {
            const lengthInput = this.phoneNumber.length

            if (lengthInput >= 10 && lengthInput <= 13 && (this.phoneNumber.startsWith('62') ||
            this.phoneNumber.startsWith('+62') || this.phoneNumber.startsWith('089'))) {
                this.invalidPhoneNumber = 'valid';
                this.countryCode = this.phoneNumber.startsWith('+') ? '+62' : '62';
            } else {
                this.invalidPhoneNumber = 'wrong';
                this.countryCode = '';
            }
        }
    }
};
</script>

<style scoped>

</style>